* {
  box-sizing: border-box;
}

body {
  min-height: 100vh; /* 100% of viewport-height*/
  margin: 0;
  font-size: 2rem;
  /*font-family: 'Atma', cursive;*/
  /*font-family: 'Special Elite', cursive;*/
  font-family: 'Life Savers', cursive;
  /******background image******/
  background-image: url("pictures/white-wall.webp");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center;
  background-attachment: fixed;
}

/* header styles */

header {
  width: 30%;
  min-width: 520px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-family: 'Life Savers', cursive;
  /*font-family: 'Cabin Sketch', cursive;*/
  /*font-family: 'Atma', cursive;*/
  text-align: center;
}

header h1 {
  text-shadow: 6px 6px 10px rgb(146, 146, 146);
  font-size: 5.2rem;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 1rem;
}

/* section styles */

section {
  width: 30%;
  min-width: 520px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;

}

section article {
  margin-top: 2rem;
  border-radius: 8px;
  border: 2px solid black;
  padding: 0.8rem;
  font-weight: 700;
}

section h2 {
  font-size: 2.1rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
}

section ol {
  margin-top: 0;
  margin-bottom: 0.3rem;
  padding-left: 1.3rem;
}

section li {
  margin: 0.75rem 0rem 0rem 0.75rem;
}

/* small or strong text on cards */

small {
  font-size: 1.15rem;
}

/* button styles */

.buttonBox {
  width: 100%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  display: inline-block;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: black;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
  /*font-family: 'Special Elite', cursive;*/
  font-family: 'Life Savers', cursive;
  font-weight: 700;

}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  transform: translateY(2px);
}

button:focus {
  outline: none;
}
